// Place all the styles related to the event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img_preview {
  border: 0px solid;
  border-radius: 40px;
  width:200px;
  height:200px;
}

.iphone6 {
	width: 300px;
	height: 600px;
  float: right;
}

.hidden {
  visibility:hidden;
}
