- if organizer_signed_in?
  Yo, you're logged in!
  %br
  = link_to "Create Event", new_event_path
  %br
  = link_to "Logout", destroy_organizer_session_path, method: :delete
- else
  Welcome to eventable!
  %br
  = link_to "Log in", new_organizer_session_path
  %br
  = link_to "Sign up", new_organizer_registration_path  
