<body style="background-image: url(/img/bg_black.jpg);">
<h2 class="text-center"  style="color:#5bc0de; font-size:60px; margin-top:100px;">Oops!
</h2>
<h2 class="text-center" style="color:#5bc0de; font-size:30px;">This page does not exist.
</h2>
<br />
<a href="/">
  <div class="btn btn-info col-md-2 col-md-offset-5 text-center">Home Page</div>
</a>
</body>