// Place all the styles related to the event controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.img_preview {
  border: 0px solid;
  border-radius: 40px;
  width: 200px;
  height: 200px;
}

.iphone6 {
  background-image: url(/img/iphone_6.png);
  background-size: cover;
  width: 288px;
  height: 587px;
  position: relative;
  margin: 0 auto;
}

.app-preview {
  position: absolute;
  top: 69px;
  left: 17px;
  height: 451px;
  width: 255px;
}

.hidden {
  visibility: hidden;
}

.event-panels {
  height: 500px;
}
