.schedule_form {		
	padding:20px;	
	margin-top:100px;
	background-color:#ecebeb;
}

.margin {
	margin-top:5px;
}

#description {
	width:500px;
	height:120px;
}

.schedule {
	background-color:#ecebeb;	
	margin-top:20px;
	margin-bottom:20px;
	padding:20px;
	font-size:18px;
}

.schedule_time {
	margin-top:5px;
	font-size:13px;	
	color: #9b9b9b;
	padding-left:0px !important;
}
