.title {
  font-size: 20px;
}

.flash {
  background-color: #4a90e2;
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 20px;
  margin-bottom: 0;
}

.mid {
  padding: 20px;
  margin-top: 50px;
}


.edit-button {
  position: absolute;
  right: 60px;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

.remove-button {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
