.title {
	font-size:20px;
}

.flash {
	background-color: #4a90e2;
	padding:20px;
	text-align:center;
	color:white;
	font-size:20px;
}

.mid {
	padding:20px;
	margin-top:50px;
}

a {
	text-decoration: underline !important;
}